<div class="title" style="text-align: left;">Pitches</div>
@if(pitches) {
    @for (pitch of pitches; track pitch.id) {
        <div class="list-item" [class.not-clickable]="!clickablePitches" style="margin-top: 16px;">
            <div
                    [class.active]="hoveredId === pitch.id"
                    (mouseover)="hoveredId = pitch.id"
                    (mouseleave)="hoveredId = null"
                    (click)="selectPitch(pitch)"
            >
                {{pitch.ownerId}}: {{pitch.title}}
            </div>
        </div>
    }
} @else {
    <div class="campaign-missing-text">
            There are no pitches yet!
    </div>
}
