<form [formGroup]="loginForm" (ngSubmit)="formSubmitted()" class="green-container" style="gap: 10px;">
    <div class="login-title">Login</div>
    <div>
        <span class="text">Email</span>
        @if(loginForm.get('username')?.errors?.['required'] && loginClicked) {
            <div class="validation-fail-text">Email is required!</div>
        }
        @if(loginForm.get('username')?.errors?.['email'] && loginClicked) {
            <div class="validation-fail-text">Text is not an email!</div>
        }
    </div>
    <input style="width: 200px;" formControlName="username" type="text" placeholder="Username">
    <div>
        <span class="text">Password</span>
        @if(loginForm.get('password')?.errors?.['required'] && loginClicked) {
            <div class="validation-fail-text">Password is required!</div>
        }
    </div>
    <input style="width: 200px;" formControlName="password" type="password" placeholder="Password">
    <button [disabled]="loginForm.invalid && loginClicked" style="margin-top: 13px; width: 200px" class="navbar-button" type="submit">Login</button>
</form>
@if(errorWhenLogin) {
    <div @shake class="red-container">
        <div class="text" style="opacity: 0.5;">User does not exists, or email is not yet activated or password is wrong!</div>
    </div>
}