<nav class="navbar-container">
  <a class="brand-button" href="/homepage" (click)="switchBrandCampagne()">CASHFLUENCE</a>
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>
  <div class="navbar-buttons-container" [ngClass]="{ 'open': menuOpen }">
    @for (item of getRouteList(); track item.name) {
      <a class="navbar-button" [href]="item.route">{{item.name}}</a>
    }
    @if(isLoggedIn) {
        <a class="navbar-button" (click)="logOut()" href="/homepage">Logout</a>
    } @else {
        <a class="navbar-button" href="/login">Login</a>
        <a class="navbar-button" href="/register">Register</a>
    }
  </div>
</nav>