<nav class="navbar-container">
  <div class="navbar-left">
    <button class="navbar-button brand-button">CASHFLUENCE</button>
  </div>

  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <div class="navbar-right" [ngClass]="{ 'open': menuOpen }">
    <button class="navbar-button">HOME</button>
    <button class="navbar-button">CAMPAIGNS</button>
    <button class="navbar-button">BRANDS</button>
    <button class="navbar-button">INFLUENCERS</button>
    <button class="navbar-button">LOGIN</button>
    <button class="navbar-button">REGISTER</button>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      @if(isBrand()){
        <a class="navbar-brand" href="/homepage" (click)="switchBrandCampagne()">Brand</a>
      } @else {
        <a class="navbar-brand" href="/homepage" (click)="switchBrandCampagne()">Influ</a>
      }
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          @for (item of getRouteList(); track item.name) {
            <li class="nav-item">
              <a class="nav-link active" [href]="item.route">{{item.name}}</a>
            </li>
          }
          @if(isLoggedIn) {
            <li class="nav-item">
              <a class="nav-link active" (click)="logOut()" href="/homepage">Logout</a>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/register">Register</a>
            </li>
          }
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ☰
            </a>
            <ul class="dropdown-menu">
              @for (item of getRouteList(); track item.name) {
                <li><a class="dropdown-item" [href]="item.route">{{item.name}}</a></li>
              }
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>