@if(campaign) {
    <div [@fadeSlide]="animationState" class="green-container">
        <div class="title">
            {{campaign?.title}}
        </div>
        <div class="text">
            {{campaign?.description}}
        </div>
        <div class="text">
            {{campaign?.contentGuideline}}
        </div>
        <div class="campaign-data-container">
            <div class="text" style="font-size: 20px;">Type: {{campaign?.campaignType}}</div>
            <div class="text" style="font-size: 20px;">Fee: {{campaign?.fee}}</div>
        </div>
    
        @if(withPitches) {
            <div [@fadeSlide]="animationState" style="margin-top: 16px;">
                <app-pitch-list
                    [pitches]="campaign?.pitchList"
                    [isUserCampaignOwner]="isUserCampaignOwner"
                >
                </app-pitch-list>
            </div>
        }
    </div>
    
} @else {
    <div [@fadeSlide]="animationState" class="campaign-not-selected-container">
        <div class="campaign-missing-text">
            Select a campaign
        </div>
    </div>
}
