@if(campaign) {
    <div [@fadeSlide]="animationState" class="green-container">
        <div class="title">
            {{campaign?.title}}
        </div>
        <div class="text">
            {{campaign?.description}}
        </div>
        <div class="text">
            {{campaign?.contentGuideline}}
        </div>
        <div class="campaign-data-container">
            <div class="text" style="font-size: 20px;">Type: {{campaign?.campaignType}}</div>
            <div class="text" style="font-size: 20px;">Fee: {{campaign?.fee}}</div>
        </div>
        
    </div>
    <div [@fadeSlide]="animationState" class="green-container" style="margin-top: 16px;">
    @if(withPitches) {
                <app-pitch-list-detail
                    [pitches]="campaign?.pitches">
                </app-pitch-list-detail>
        }
    </div>
} @else {
    <div [@fadeSlide]="animationState" class="campaign-not-selected-container">
        <div class="campaign-missing-text">
            Select a campaign
        </div>
    </div>
}
