<div class="row my-3">
    <h1>Create campagne</h1>
</div>
<form>
    <div class="form-group my-1">
      <label for="exampleFormControlInput1">Title</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group my-1">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>
    <div class="form-group my-1">
        <label>Add picture</label>    
    </div>
    <div class="form-group my-1">
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group my-1">
        <label for="exampleFormControlInput1">Minimum fee</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="14000 HUF">
    </div>
    <div class="form-group my-1">
        <label for="exampleFormControlInput1">Maximum fee</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="18000 HUF">
    </div>
</form>