<div class="row my-3">
    <h1>Create campagne</h1>
</div>
<form>
    <div class="form-group my-1">
      <label>Title</label>
      <input name="title" [(ngModel)]="campagneToSave.title" type="text" class="form-control">
    </div>
    <div class="form-group my-1">
      <label>Description</label>
      <textarea name="description" [(ngModel)]="campagneToSave.description" class="form-control" rows="4"></textarea>
    </div>
    <div class="form-group my-1">
        <label>Add picture</label>    
    </div>
    <div class="form-group my-1">
        <input type="file" class="form-control-file">
    </div>
    <div class="form-group my-1">
        <label>Minimum fee</label>
        <input name="minFee" [(ngModel)]="campagneToSave.minFee" type="text" class="form-control">
    </div>
    <div class="form-group my-1">
        <label>Maximum fee</label>
        <input name="maxFee" [(ngModel)]="campagneToSave.maxFee" type="text" class="form-control">
    </div>
    <button (click)="createCampagne()" type="button" class="btn btn-primary">Create campagne</button>
</form>