<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/homepage" (click)="switchBrandCampagne()">TODO</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        @for (item of getRouteList(); track item.name) {
          <li class="nav-item">
            <a class="nav-link active" [href]="item.route">{{item.name}}</a>
          </li>
        }
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ☰
          </a>
          <ul class="dropdown-menu">
            @for (item of getRouteList(); track item.name) {
              <li><a class="dropdown-item" [href]="item.route">{{item.name}}</a></li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

  