    @if(pitch) {
    <div class="green-container" [@fadeSlide]="animationState">
        <div class="title">
            {{pitch?.title}}
        </div>
        <div class="text">
            {{pitch?.text}}
        </div>
        <div class="text">
            State: {{pitch?.pitchState}}
        </div>
        <app-button-bar [buttons]="pitchButtons"></app-button-bar>
    </div>
    } @else {
        <div [@fadeSlide]="animationState" class="campaign-not-selected-container">
            <div class="campaign-missing-text">
                Select a pitch
            </div>
        </div>
    }