*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* removes underline */
    color: inherit;        /* uses parent color */
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    background-color: #d5fadd;
    padding: 0 16px;
    height: 60px;
    width: 100%;
}

.navbar-buttons-container {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    background-color: #d5fadd;
}

.navbar-button {
    text-align: center;
    font-family: Koulen;
    height: 36px;
    padding: 2px 16px;
    font-size: 13px;
    background-color: #26b36c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    padding-top: 7px;     
}

.navbar-button:active {
    transform: scale(0.80);
}

.brand-button {
    font-family: Koulen;
    background-color: #26b36c;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16.5px;
    padding: 2px 20px;
    height: 45px;
    border-radius: 9px;
    padding-top: 8px;
    letter-spacing: 1px;    
}

.brand-button:active {
    transform: scale(0.80);
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 850px) {

    .menu-toggle {
        display: block;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .navbar-buttons-container {
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 7px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.1s ease-out;
    }

    .navbar-buttons-container.open {
        max-height: 500px;
        transition: max-height 0.1s ease-in;
    }
}