body {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: #d5fadd;
    padding: 0 16px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    gap: 16px;
    justify-content: flex-start;
}

.navbar-buttons-container {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar-button {
    height: 36px;
    padding: 2px 16px;
    font-size: 13px;
    font-weight: 600;
    background-color: #26b36c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-button:active {
    transform: scale(0.95);
}

.brand-button {
    font-weight: 600;
    background-color: #26b36c;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16.5px;
    padding: 2px 20px;
    height: 45px;
    border-radius: 9px;
    white-space: nowrap;
    flex-shrink: 0;
}

.brand-button:active {
    transform: scale(0.95);
}

/* Media query for smaller screens */
@media (max-width: 850px) {
    .navbar-container {
        justify-content: space-between;
    }

    .navbar-container.open {
        justify-content: space-between;
        padding: 0px;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-buttons-container {
        display: flex;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 7px;
        overflow: hidden;
        padding: 0;
        max-height: 0;
        transition: max-height 0.1s ease-out;
    }

    .navbar-buttons-container.open {
        display: flex;
        top: 60px;
        right: 7px;
        background-color: #d5fadd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-height: 500px; /* enough to fit all the items */
        transition: max-height 0.1s ease-in;
    }
}