.toggle-bar {
    border: 3px solid var(--dark-green);
    background-color: #ffffff;
    z-index: 10;
    height: 20px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

.toggle-ball {
    border: 1.9px solid var(--dark-green);
    background-color: var(--green);
    height: 18px;
    width: 18px;
    border-radius: 15px;
}

.influ-brand-toggle-container {
    flex-direction: row; 
    display: flex;
    gap: 16px; 
    align-items: center;
}

.register-title {
    color: var(--dark-green);
    text-align: center;
    font-family: Koulen;
    font-size: 60px;
    line-height: 100%;
}

.register-field-text {
    color: #000;
    font-family: Koulen;
    font-size: 25px;
    line-height: 100%;
}

.register-field-text.error {
    font-size: 20px;
}

.register-button {
    text-align: center;
    font-family: Koulen;
    height: 33px;
    font-size: 20px;
    background-color: var(--green);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    width: 250px
}

.register-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none; /* ⬅️ Important */
  opacity: 0.6;
}

.register-button:active {
    transform: scale(0.90);
}

input.register {
    width: 250px;
    min-width: 250px; 
    max-width: 250px;
    border-radius: 6px; /* Adjust as needed (px, %, etc.) */
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 5px;
}