<div class="column-contaier" style="padding: 16px">
    <div @fadeSlideId class="green-container" style="gap: 10px">
        <div class="login-title">Register as</div>
        <div class="influ-brand-toggle-container">
            <div class="text" [style.opacity]="toggleState === 'influencer' ? 1 : 0.6">Influencer</div>
            <div class="toggle-bar" (click)="clickToggle()" [@toggle]="toggleState">
                <div class="toggle-ball"></div>
            </div>
            <div class="text" [style.opacity]="toggleState === 'brand' ? 1 : 0.6">Brand</div>
        </div>
    </div>
    @if(isInfluencerRegister()) {
        <form @fadeSlideId [formGroup]="registerInfluencerForm" (ngSubmit)="formSubmitted()" class="green-container" style="gap: 16px;">
            <div>
                <div class="text">Email</div>
                @if(registerInfluencerForm.get('email')?.errors?.['required'] && registerClicked) {
                    <div class="validation-fail-text">Email is required!</div>
                }
                @if(registerInfluencerForm.get('email')?.errors?.['email'] && registerClicked) {
                    <div class="validation-fail-text">Text is not an email!</div>
                }
                <input style="width: 200px;" formControlName="email" type="text" placeholder="Email">
            </div>
            <div>
                <div class="text">Password</div>
                @if(registerInfluencerForm.get('password')?.errors?.['required'] && registerClicked) {
                    <div class="validation-fail-text">Password is required!</div>
                }
                <input style="width: 200px;" formControlName="password" type="password" placeholder="Password">
            </div>
            <div>
                <div class="text">Name</div>
                @if(registerInfluencerForm.get('name')?.errors?.['required'] && registerClicked) {
                    <div class="validation-fail-text">Name is required!</div>
                }
                <input style="width: 200px;" formControlName="name" type="text" placeholder="Name">
            </div>
            <div>
                <div class="text">Content type</div>
                @if(registerInfluencerForm.get('contentTypes')?.errors?.['required'] && registerClicked) {
                    <div class="validation-fail-text">Content type is required!</div>
                }
                <app-multiple-selector-popup (itemsSelected)="onContentTypesSelected($event)" [inputItems]='["lifestyle", "car", "pet", "horse", "dog", "gaming", "gambling", "sport"]' [maxConstraint]="3" [minConstraint]="0" [typeOfItems]="'content types'"></app-multiple-selector-popup>
            </div>
            <div>
                <div class="text">Birth date</div>
                @if(registerInfluencerForm.get('birthDate')?.errors?.['required'] && registerClicked) {
                    <div class="validation-fail-text">Birth date is required!</div>
                }
                <input style="width: 200px;" formControlName="birthDate" type="text" placeholder="Birth date">
            </div>
            <div>
                <div class="text">Instagram tag</div>
                @if(registerInfluencerForm.errors?.['atLeastOneRequired'] && registerClicked) {
                    <div class="validation-fail-text">At least one social media is required!</div>
                }
                <input style="width: 200px;" formControlName="instagram" type="text" placeholder="Instagram tag">
            </div>
            <div>
                <div class="text">Youtube channel</div>
                @if(registerInfluencerForm.errors?.['atLeastOneRequired'] && registerClicked) {
                    <div class="validation-fail-text">At least one social media is required!</div>
                }
                <input style="width: 200px;" formControlName="youtube" type="text" placeholder="Youtube channel">
            </div>
            <div>
                <div class="text">Tiktok account</div>
                @if(registerInfluencerForm.errors?.['atLeastOneRequired'] && registerClicked) {
                    <div class="validation-fail-text">At least one social media is required!</div>
                }
                <input style="width: 200px;" formControlName="tiktok" type="text" placeholder="TikTok">
            </div>
            <button [disabled]="registerInfluencerForm.invalid && registerClicked" style="margin-top: 10px; width: 200px" class="navbar-button" type="submit">Register</button>
        </form>
    } @else {
        <form @fadeSlideId [formGroup]="registerBrandForm" (ngSubmit)="formSubmitted()" class="green-container" style="gap: 10px;">
            <div class="text">Email</div>
            @if(registerBrandForm.get('email')?.errors?.['required'] && registerClicked) {
                <div class="validation-fail-text">Email is required!</div>
            }
            @if(registerBrandForm.get('email')?.errors?.['email'] && registerClicked) {
                <div class="validation-fail-text">Text is not an email!</div>
            }
            <input style="width: 200px;" formControlName="email" type="text" placeholder="Email">
            <div class="text">Password</div>
            @if(registerBrandForm.get('password')?.errors?.['required'] && registerClicked) {
                <div class="validation-fail-text">Password is required!</div>
            }
            <input style="width: 200px;" formControlName="password" type="password" placeholder="Password">
            <div class="text">Name</div>
            @if(registerBrandForm.get('name')?.errors?.['required'] && registerClicked) {
                <div class="validation-fail-text">Name is required!</div>
            }
            <input style="width: 200px;" formControlName="name" type="text" placeholder="Name">
            <button [disabled]="registerBrandForm.invalid && registerClicked" style="margin-top: 13px; width: 200px" class="navbar-button" type="submit">Register</button>
        </form>
    }
    @if(errorWhenRegister) {
        <div @shake class="red-container">
            <div class="text" style="opacity: 0.5;">Registration failed, user my already be registered</div>
        </div>
    }
</div>
